language: java
matrix:
  include:
    - os: linux
      jdk: oraclejdk8
    - os: linux
      jdk: openjdk7
    - os: osx
      # see travis issue https://github.com/travis-ci/travis-ci/issues/2839
      env: JAVA_HOME=$(/usr/libexec/java_home)
install: mvn clean install
script: mvn verify
