name: 'multi-approvers'

on:
  pull_request:
    types:
      - 'opened'
      - 'edited'
      - 'reopened'
      - 'synchronize'
      - 'ready_for_review'
      - 'review_requested'
      - 'review_request_removed'
  pull_request_review:
    types:
      - 'submitted'
      - 'dismissed'

permissions:
  actions: 'write'
  contents: 'read'
  pull-requests: 'read'

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  multi-approvers:
    uses: 'abcxyz/pkg/.github/workflows/multi-approvers.yml@49fe9f44ebd76215a145bf0b4e2faf2163b0bfcc'
    with:
      org-members-path: 'googleapis/google-auth-library-java/main/.github/workflows/members.json'
